<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y/%m/%d` \
   TM_LILY_VERSION=`exec /Applications/LilyPond.app/Contents/Resources/bin/lilypond -v | head -1 | sed 's/[^.0-9]//g'` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; template.ly &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>ly</string>
	<key>name</key>
	<string>Transposing Instrument - Tuba</string>
	<key>uuid</key>
	<string>D3C07401-61DF-42A5-A034-2E1637B0429A</string>
</dict>
</plist>
